<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header>
        <%- include('../partials/header'); %>
    </header>
    
      <main class="px-3">
        <h1>Welcome to mbitc World!</h1>
        <p class="lead">We will look for a variety of ways to find joy in the learning and traveling space.</p>
        <p class="lead">
          <a href="/text" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Start Drive</a>
        </p>
      </main>
    
      <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </div>
        
    </body>
</html>